* {
  /* border: 1px dotted red; */
}

@media (max-width: 575.98px) {
  .btn-responsive {
    display: block;
    width: 100%;
  }
}

html {
  background-color: white;
}

h1,
.h1 {
  /* letter-spacing: 0.05rem;
  font-size: 2.2rem !important;
  line-height: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700; */
}

h2,
.h2 {
  /* font-size: 1.2rem;
  line-height: 2rem !important;
  font-family: "Poppins", sans-serif;
  font-weight: 200 !important; */
}

p {
  /* font-family: "Karla", sans-serif; */
}

.img-hero {
  width: 100%;
}

.row-fluid {
  width: 100%;
}

@media (max-width: 575.98px) {
  .form-fullwidth {
    display: block;
    width: 100%;
  }
}
