* {
  /* border: 1px dotted red; */
}

html {
  background-color: lavenderblush;
}

h1 {
  letter-spacing: 0.05rem;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

.section {
  margin: 3rem 0;
}
