* {
  /* border: 1px dotted red; */
}

@media (max-width: 575.98px) {
  .btn-responsive {
    display: block;
    width: 100%;
  }
}

html {
  background-color: lavenderblush;
}

h1 {
  letter-spacing: 0.05rem;
  font-size: 2.2rem;
  line-height: 2.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 1.2rem;
  line-height: 2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}

p {
  font-family: "Karla", sans-serif;
}

.section {
  margin: 3rem 0;
}

.img-hero {
  width: 100%;
}

.row-fluid {
  width: 100%;
}
